@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--sidebar-width: 15rem;
}

html,
body {
	@apply text-white bg-bg text-base;
}

@layer utilities {
	.videos-grid {
		grid-template-columns: repeat(auto-fill, 350px);
		justify-content: space-around;
		display: grid;
		gap: 1.5rem;
	}
	.asp {
		object-fit: cover;
		aspect-ratio: 16 / 9;
	}
}

.volume-slider::-webkit-slider-thumb {
	appearance: none;
	width: 10.5px;
	height: 10.5px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.volume-slider::-moz-range-thumb {
	width: 10.5px;
	height: 10.5px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}

.volume-slider::-ms-thumb {
	width: 10.5px;
	height: 10.5px;
	background-color: white;
	border-radius: 50%;
	cursor: pointer;
}
