@keyframes hideSidebar {
	from {
		transform: translateX(0);
		width: var(--sidebar-width);
	}

	to {
		width: 3.8rem;
	}
}

@keyframes showSidebar {
	from {
		width: 3.8rem;
	}
	to {
		transform: translateX(0);
		width: var(--sidebar-width);
	}
}

.hidedSidebar {
	> aside {
		animation: hideSidebar 0.35s forwards;
		flex-grow: 0;

		> nav {
			> h4 {
				@apply transition-opacity;
				opacity: 0;
			}
		}
	}

	> div {
		width: 100%;
	}
}

.showedSidebar {
	> aside {
		animation: showSidebar 0.3s forwards;
		width: var(--sidebar-width);
	}
}
